<div class="text-center">
    <h1 class="display-4 mt-4">Movie App</h1>
    <p class="mt-4" style="font-size: 1.5rem; line-height: 1.5; max-width: 500px; margin: 0 auto;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sollicitudin mauris. Phasellus fermentum auctor nisi, ac egestas orci fringilla eu. Nulla facilisi.
    </p>
    <form action="/Home/Search" style="width: 50%; margin-top: 2rem;" class="mx-auto">
        <div class="input-group">
            <input name="input" type="text" placeholder="Search for a title..." class="form-control" style="background-color: black; color: white;">
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary btn-outline-light" style="background-color: black; color: white;">Search</button>
            </div>
        </div>
    </form>
</div>
